* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6e2f0;
  display: grid;
  place-items: center;
  height: 100vh;
}

#info-div {
  background-color: #fff;
  width: 318px;
  text-align: center;
  padding: 15px 15px 30px 15px;
  border-radius: 20px;
  box-shadow: 2px 1px 10px hsla(217, 45%, 22%, 0.288);
}

#info-div img {
  width: 288px;
  border-radius: 10px;
}

#info-div h2 {
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  font-weight: 600;
  font-family: "Outfit";
  text-shadow: 1px 2px 5px rgba(128, 128, 128, 0.336);
  margin: 15px 0;
  line-height: 1.2;
}

#info-div p {
  color: hsl(216, 15%, 48%);
  font-size: 18px;
  font-family: "Outfit";
  text-shadow: 1px 2px 3px rgba(128, 128, 128, 0.089);
  line-height: 1.5;
}

#attribution {
  margin-top: 15px;
  font-family: "Outfit";
  font-size: 15px;
  text-align: center;
}

#attribution a {
  text-decoration: none;
  color: hsl(218, 44%, 22%);
}

#attribution a:hover {
  color: hsl(218, 44%, 22%);
  color: #2c7dfa;
}
